@model PagedList.Core.IPagedList<Hall>
@{
    ViewData["Title"] = "Zalen";
}
@if (TempData.ContainsKey("notification")) {
    <div class="notification-hidden-container" data-message="@TempData["notification"]"></div>
}
<div class="row">
    <div class="col s12 m5 l5 xl3 offset-l1 offset-xl2">
        <a asp-action="AddHall" class="btn btn-block waves-effect btn-full-width btn-middle btn-icon z-depth-1"><i class="mdi mdi-24px mdi-plus-circle"></i><span>Toevoegen</span></a>
    </div>
    <div class="col s12 m7 l5 xl5">
        <div class="search-wrapper card">
            <form method="get">
                <input type="text" class="searchbar" id="searchString" name="searchString" value="@ViewBag.CurrentFilter" />
                <button type="submit"><i class="mdi mdi-24px mdi-magnify"></i></button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 l10 xl8 offset-l1 offset-xl2">
        <div class="card z-depth-1">
            <table class="bordered responsive-table">
                <thead>
                <tr>
                    <th>Gebouwnaam</th>
                    <th>
                        <a class="filter-header no-border" href="@Url.Action("Index", new {sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter})">
                            <span>Naam</span>
                            <i class="mdi mdi-24px right waves-effect @(ViewBag.NameSortParm == "name_desc" ? "mdi-menu-up" : "mdi-menu-down")"></i>
                        </a>
                    </th>
                    <th>Beschikbaar</th>
                    <th>Grootte</th>
                    <th>Prijs</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (Hall h in Model) {
                        <tr class="tr-edit-delete">
                            <td>@h.Building.Name</td>
                            <td>@h.Name</td>
                            <td>@if (h.Available == true)
                                {<text>Ja</text>}
                                else
                                {
                                    <text>Nee</text>}</td>
                            <td>@h.Size</td>
                            <td>@h.Price</td>

                            <td>
                                <form class="list-action-container right">
                                    <button asp-action="DeleteHall" asp-route-hallid="@h.HallId" formmethod="post" type="submit"><i class="mdi mdi-24px mdi-delete"></i></button><a href="@Url.Action("UpdateHall", new {id = h.HallId})"><i class="mdi mdi-24px mdi-pencil"></i></a>
                                </form>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 l10 xl8 offset-l1 offset-xl2">
        @await Component.InvokeAsync("PageList", new { list = Model, c = "Hall" })
    </div>
</div>
